.credit {
  position: absolute;
  bottom: 0;
  right: 1rem;
  display: flex;
  gap: .25rem;
  font-size: smaller;
  opacity: 75%;
}

.credit a {
  color: #FFCAEC;
}

.credit a:hover {
  opacity: 75%;
}
