.credit {
  float: right;
  margin-right: 1rem;
  display: flex;
  gap: .25rem;
  font-size: smaller;
  opacity: 75%;
}

.credit a {
  color: #FFCAEC;
}

@media (hover: hover) {
  .credit a:hover {
    opacity: 75%;
  }
}
