.main {
  margin: 15%;
  /* color: #FFCAEC; */
  display: flex;
  gap: 5rem;
}

.main h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

.main h1:hover {
  opacity: 80%;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ninja {
  height: 7rem;
}

.ninja img {
  height: 100%;
  border-radius: 100%;
}

.ninja img:hover {
  opacity: 80%;
  cursor: pointer;
}

.rocket {
  margin: 1rem;
  padding: .5rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #FFCAEC;
}

.rocket img {
  height: 90%;
  width: 90%;
  display: block;
  margin: auto;
}

.rocket:hover {
  opacity: 80%;
  cursor: pointer;
}

.spin {
  animation: spin 1s;
  opacity: 100% !important;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.text {
  display: inline;
}

.text p {
  display: flex;
  gap: .5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.credera {
  height: 1rem;
  background-color: #FFCAEC;
  padding: 3%;
  border-radius: 5%;
}

.credera:hover {
  opacity: 80%
}

.credera img {
  height: 100%;
  width: 95%;
  display: block;
  margin: auto;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
